.navigationbar, .navigationbar div {
    background-color: transparent !important;
}

.navigationbar div>div>div>div>a:hover {
    background-color: #45474B !important;
}

.navigationbar a {
    color: var(--main-text-color);
}

.navigation__logo {
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}