.profile--pic {
    width: 34px;
    height: 34px;
}


/* .signin__btn {
    background-color: transparent;
} */

/* .gsi-material-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f2f2f2;
    background-image: none;
    border: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
}

.gsi-material-button:disabled .gsi-material-button-state {
    background-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #001d35;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #001d35;
    opacity: 8%;
} */

.signin__btn--nav,
.signup__btn--nav {
    width: 120px;
    border-radius: var(--main-rounded-corner) !important;
    color: var(--main-text-color) !important;
}


.signin__btn--nav {
    background-color: transparent !important;
    border-color: var(--main-accent-color) !important;
}

.signin__btn--nav:hover,
.signin__btn--nav:focus {
    background-color: var(--main-accent-color) !important;
    border-color: var(--main-accent-color-hover) !important;
    color: var(--main-text-color) !important;
}

.signup__btn:active,
.signin__btn--nav:active {
    box-shadow: transparent !important;
}

.signup__btn--nav {
    background-color: var(--main-accent-color) !important;
    border-color: var(--main-accent-color-hover) !important;
}

.signup__btn--nav:hover,
.signup__btn--nav:focus {
    background-color: var(--main-accent-color-hover) !important;
    color: var(--main-font-color) !important;
}

/* main page buttons */
.signup-form__btn,
.signin__btn {
    background-color: var(--main-accent-color) !important;
    border: 1px solid var(--main-accent-color-hover) !important;
    font-size: var(--pc-font-size) !important;
    width: 180px !important;
    transition: var(--main-transition-speed) !important;
    color: var(--main-font-color) !important;
    border-radius: var(--main-rounded-corner) !important;
}

.signup-form__btn:hover,
.signin__btn:hover {
    background-color: var(--main-accent-color-hover) !important;
    border: 1px solid var(--main-accent-color-hover) !important;
}

.signup-form__btn:active,
.signup-form__btn:focus,
.signin__btn:active,
.signin__btn:focus {
    background-color: var(--main-accent-color-hover) !important;
    box-shadow: none !important;
}

.signin__btn--sub--div {
    width: max-content;
    margin-top: 5px;
}

.signup-form__signin-btn,
.signin__btn--sub>a {
    color: var(--main-accent-color-hover);
    transition: var(--main-transition-speed) !important;
}

.signup-form__signin-btn:hover,
.signin__btn--sub>a:hover {
    color: var(--main-accent-color);
}

/* form */
.signup__form--bg {
    border-radius: var(--main-rounded-corner);
    background-color: rgba(var(--main-accent-color-values), 0.14);
}

.signup__form--title--span {
    min-width: fit-content !important;
}

.signup__form--field:hover {
    transition: var(--main-transition-speed) !important;
}

.signup__form--field:hover {
    border-color: var(--main-accent-color-hover);
}

.signup__form--field:active,
.signup__form--field:focus {
    border-color: var(--main-accent-color) !important;
    box-shadow: none !important;
}

.hakobos {
    transform: scale(1);
    transform-origin: 0 0;
}

@media (max-width: 767px) {

    .signup-form__btn,
    .signup__btn,
    .signin__btn,
    .signin__btn--nav,
    .signup__btn--nav {
        font-size: var(--mobile-font-size) !important;
    }
}

@media (max-width: 575px) {

    .signin__btn--sub--div {
        margin-top: 0px;
    }
}

@media (max-width: 400px) {
    .hakobos {
        transform: scale(0.7);
    }
}

@media (max-width: 320px) {
    .hakobos {
        transform: scale(0.8);
    }
}