.userhome__body {
    padding-top: 12px;
    color: var(--main-text-color) !important;
    font-size: var(--pc-font-size);
}

.navigation__logo {
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}


.tools__search--results-modal {
    height: 100%;
}

.tools__search--results-modal>div {
    height: 100%;
    margin-block: 0;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools__search--results-modal>div>div {

    background-color: rgb(var(--main-bg-color), 0.8) !important;
    border: 1px solid var(--main-accent-color);
    border-radius: var(--main-rounded-corner);
}

.tools__search--results-modal>div>div>div {
    color: var(--main-text-color) !important;
    border-block: none;
}

.tools__search--results-modal-close-btn,
.tools__search--results-modal-close-btn:hover,
.tools__search--results-modal-close-btn:focus,
.tools__search--results-modal-close-btn:active {
    background-color: transparent !important;
    border: 0;
}

.tools__search--results-modal-close-btn>svg {
    color: var(--main-accent-color);
    transition: var(--main-transition-speed);
}

.tools__search--results-modal-close-btn:hover>svg {
    color: var(--main-accent-color-hover);
}

.tools__search--results-modal-body {
    overflow-y: auto;
    max-height: 600px;
}

.tools__search--search-results-profiles {
    padding-inline: 12px;
    padding-block: 8px;
    border: 1px solid var(--main-accent-color);
    border-radius: var(--main-rounded-corner);
    background-color: transparent;
    cursor: pointer;
    transition: var(--main-transition-speed);
}

.tools__search--search-results-profiles-avatar {
    --r: 8px;
    aspect-ratio: cos(30deg);
    --_g: calc(tan(60deg)*var(--r)) right var(--r), #000 98%, #0000 101%;
    mask:
        conic-gradient(from 240deg at calc(200% - 3*var(--r)/2), #000 60deg, #0000 0) 100% 0/calc(100% - 3*var(--r)/2) 100% no-repeat,
        radial-gradient(var(--r) at calc(2*var(--r)) 50%, #000 98%, #0000 101%),
        radial-gradient(var(--r) at top var(--_g)),
        radial-gradient(var(--r) at bottom var(--_g));
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    object-fit: cover;
    object-position: left center;
    height: 65px;
}

.tools__search--search-results-profiles:hover {
    border-color: var(--main-accent-color-hover);
    color: var(--main-bg-color) !important;
    transition: var(--main-transition-speed);
}

.tools__search--search-results-profiles>a {
    color: var(--main-text-color) !important;
    text-decoration: none;
    transition: var(--main-transition-speed);
}

.tools__search--search-results-profiles:hover>a {
    color: var(--main-accent-color-hover) !important;
}

.tools__search--search-results-profiles>a>img {
    color: var(--main-text-color) !important;
    text-decoration: none;
}

.tools__search--search-results-profiles:hover>a>img {
    filter: sepia(1) hue-rotate(100deg) saturate(6) brightness(0.7);
}


.tools__search--results-expand-btn-icon {
    font-size: 25px;
    color: var(--main-accent-color);
    transition: var(--main-transition-speed);
}

.tools__search--results-expand-btn,
.tools__search--results-expand-btn:disabled {
    margin-top: 15px;
    background-color: transparent;
    height: 39.5px !important;
    padding: 0;
    border: 1px solid var(--main-accent-color) !important;
    border-radius: var(--main-rounded-corner);
    transition: var(--main-transition-speed);
}

.tools__search--results-expand-btn:hover {
    background-color: transparent;
    border-color: var(--main-accent-color-hover) !important;
}

.tools__search--results-expand-btn:active {
    background-color: var(--main-accent-color-hover) !important;
}

.tools__search--results-expand-btn:hover>.tools__search--results-expand-btn-icon {
    color: var(--main-accent-color-hover) !important;
}

.tools__search--results-expand-btn:active>.tools__search--results-expand-btn-icon {
    border-color: var(--main-accent-color);
    color: var(--main-accent-color) !important;
}

.userhome__body--profile--tools {
    margin-top: 12px;
    z-index: 9000;
}

.userhome__body--profile--tools--dropdown {
    transition: var(--main-transition-speed) !important;
}

.userhome__body--profile--tools--dropdown>button {
    padding: 0;
    background-color: transparent !important;
    border-radius: 0;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid transparent !important;
    transition: var(--main-transition-speed) !important;
    box-shadow: none !important;
}

.userhome__body--profile--tools--dropdown>button:hover,
.userhome__body--profile--tools--dropdown>button:active,
.userhome__body--profile--tools--dropdown>button:focus {
    color: var(--main-accent-color-hover) !important;
    transition: var(--main-transition-speed) !important;

}

.userhome__body--profile--tools--dropdown>button::after {
    display: none !important;
}

.userhome__body--profile--tools--dropdown>button.btn.show {
    border-left: 2px solid var(--main-accent-color) !important;
    border-right: 2px solid var(--main-accent-color) !important;
    border-radius: 0;
    transition: var(--main-transition-speed) !important;
}

.userhome__body--profile--tools--dropdown>div {
    padding: 0;
    margin-top: -2px;
    color: var(--main-text-color) !important;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-color: var(--main-bg-color) !important;
    border-radius: 0 0 var(--main-rounded-corner) var(--main-rounded-corner);
    border-top: 0;
    border-bottom: 2px solid var(--main-accent-color) !important;
    border-left: 2px solid var(--main-accent-color) !important;
    border-right: 2px solid var(--main-accent-color) !important;
    transition: var(--main-transition-speed) !important;
}

.userhome__body--profile--tools--dropdown>div>a {
    padding: 4px 0;
    text-align: center;
    color: var(--main-text-color) !important;
    transition: var(--main-transition-speed) !important;
}

.userhome__body--profile--tools--dropdown>div>a:hover {
    background-color: var(--main-accent-color-hover) !important;
    color: var(--nav-text-color) !important;
}

.userhome__body--btn {
    background-color: transparent !important;
    border: 0 !important;
}

.tools__search-btn {
    background-color: var(--main-accent-color) !important;
    border-color: var(--main-accent-color) !important;
    border-radius: var(--main-rounded-corner) !important;
    height: 40px;
    width: 40px;
    transition: var(--main-transition-speed);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools__search-btn:hover {
    background-color: var(--main-accent-color-hover) !important;
    border: var(--main-accent-color-hover);
}

.tools__search-btn:hover>svg {
    color: var(--main-accent-color) !important;
}

.tools__search-field {
    border: 2px solid var(--main-accent-color);
    border-radius: var(--main-rounded-corner) !important;
    resize: none;
    transition: var(--main-transition-speed);
}

.tools__search-field:focus {
    border-color: var(--main-accent-color-hover);
    box-shadow: none;
}

@media (max-width: 767px) {

    .userhome__body,
    .tools__search-field {
        font-size: var(--mobile-font-size) !important;
    }

    .tools__search-btn {
        height: 31px;
        width: 31px;
    }

}