.user-feed__header {
    background-color: transparent;
    backdrop-filter: blur(5px);
    /* max-width: 1320px; */
    padding-top: 62px;
}

.user-feed__loading-div {
    height: 100%;
    display: grid;
    place-items: center;
    margin-inline: auto;
}

.user-feed__feed-guide-btn {
    background-color: var(--main-accent-color);
    border-color: var(--main-accent-color);
    border-radius: var(--main-rounded-corner);
    transition: var(--main-transition-speed) !important;
}

.user-feed__feed-guide-btn:hover,
.user-feed__feed-guide-btn:active,
.user-feed__feed-guide-btn:focus {
    background-color: var(--main-accent-color-hover) !important;
    border-color: var(--main-accent-color-hover) !important;
}

.user-feed__toggle-label {
    cursor: pointer;
}

.user-feed__toggle-label.toggle-label-muted {
    color: var(--main-text-muted);
}

.user-feed__compose-btn,
.user-feed__refresh-btn {
    background-color: var(--main-accent-color);
    border-color: var(--main-accent-color);
    color: var(--main-text-color);
    border-radius: var(--main-rounded-corner);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-feed__compose-btn:hover,
.user-feed__compose-btn:active,
.user-feed__compose-btn:focus,
.user-feed__refresh-btn:hover,
.user-feed__refresh-btn:active,
.user-feed__refresh-btn:focus,
.user-feed__refresh-btn:disabled {
    background-color: var(--main-accent-color-hover) !important;
    border-color: var(--main-accent-color-hover) !important;
    color: var(--main-text-color) !important;
    box-shadow: none;
}

.user-feed__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-feed__toggle-btn>input {
    box-shadow: none !important;
    border-color: var(--main-accent-color);
    border-radius: var(--main-rounded-corner) !important;
    background-image: url('../../../assets/square-fill.svg') !important;
    transition: var(--main-transition-speed);
    cursor: pointer;
}

.user-feed__toggle-btn>input:active,
.user-feed__toggle-btn>input:focus {
    border-color: var(--main-accent-color-hover) !important;
}

.user-feed__toggle-btn>input:focus {
    border-width: 2px;
    border-style: double;
}

.user-feed__toggle-btn>input:checked {
    box-shadow: none !important;
    background-color: white !important;
    border-color: var(--main-accent-color);
    background-image: url('../../../assets/square-fill.svg') !important;
}



@media (max-width: 767px) {

    .user-feed__refresh-btn {
        height: 23px !important;
        width: 23px !important;
    }

}