.legal {
    margin-top: 42px;
    padding-top: 22px;
}

.legal__sections {
    gap: 48px;
}

@media (max-width: 767px) {
    .legal__hr {
        margin-block: 0px;
    }

    .legal__sections {
        gap: 28px;
    }
}