.home__body {
    background-color: var(--main-bg-color);
    font-family: var(--primary-font-family);

}

.home__body main {
    color: var(--main-text-color) !important;
    font-size: var(--primary-font-size);

}