body {
    /* background-color: var(--main-bg-color) !important; */
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 16%, rgba(0, 0, 0, 0.5788690476190477) 43%, rgba(0, 0, 0, 0.58) 76%, rgba(23, 199, 105, 0.58) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 16%, rgba(0, 0, 0, 0.5788690476190477) 43%, rgba(0, 0, 0, 0.58) 76%, rgba(23, 199, 105, 0.58) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 16%, rgba(0, 0, 0, 0.5788690476190477) 43%, rgba(0, 0, 0, 0.58) 76%, rgba(23, 199, 105, 0.58) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#17c769", GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.userhome__body {
    padding-top: 12px;
    color: var(--main-text-color) !important;
}

.userhome__body--search-results-modal>div>div {
    background-color: var(--main-bg-color) !important;
    border: 1px solid var(--main-accent-color);
}

.userhome__body--search-results-modal>div>div>div {
    color: var(--main-text-color) !important;
    border-block: none;
}

.userhome__body--search-results-profiles {
    padding-inline: 12px;
    padding-block: 8px;
    border: 1px solid var(--main-accent-color);
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.userhome__body--search-results-profiles:hover {
    border-color: var(--main-accent-color-hover);
    /* background-color: var(--main-accent-color-hover); */
    color: var(--main-bg-color) !important;
    transition: 0.3s;
}

.userhome__body--search-results-profiles>a {
    color: var(--main-text-color) !important;
    text-decoration: none;
    transition: 0.3s;
}

.userhome__body--search-results-profiles:hover>a {
    color: var(--main-accent-color-hover) !important;
}

.userhome__body--search-results-profiles>a>img {
    color: var(--main-text-color) !important;
    text-decoration: none;
}

.userhome__body--search-results-profiles:hover>a>img {
    filter: sepia(1) hue-rotate(100deg) saturate(6) brightness(0.7);
}

.userhome__body--search-results-modal-footer>button {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
    border: none;
}

.userhome__body--search-results-modal-footer>button:hover,
.userhome__body--search-results-modal-footer>button:focus {
    background-color: var(--main-accent-color-hover);
    color: var(--main-bg-color);
    box-shadow: none;
}

.userhome__body--search-results-modal-footer>button:active {
    background-color: var(--main-accent-color-hover) !important;
    color: var(--main-bg-color) !important;
}

.userhome__body--profile--tools {
    margin-top: 12px;
    z-index: 9000;
    /* margin-top: 12px;
    background-color: transparent;
    backdrop-filter: blur(2px) !important;
    z-index: 9999; */
}

.userhome__body--profile--tools--dropdown>button {
    padding: 0;
    background-color: transparent !important;
    border-radius: 0;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid transparent !important;
    transition: 0.3s;
    box-shadow: none !important;
}

.userhome__body--profile--tools--dropdown>button:hover,
.userhome__body--profile--tools--dropdown>button:active,
.userhome__body--profile--tools--dropdown>button:focus {
    color: var(--main-accent-color-hover) !important;
}

.userhome__body--profile--tools--dropdown>button::after {
    display: none !important;
}

.userhome__body--profile--tools--dropdown>button.btn.show {
    border-left: 2px solid var(--nav-bg-color) !important;
    border-right: 2px solid var(--nav-bg-color) !important;
    border-radius: 0;
}

.userhome__body--profile--tools--dropdown>div {
    padding: 0;
    margin-top: -2px;
    color: var(--main-text-color) !important;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-color: var(--main-bg-color) !important;
    border-radius: 0 0 7px 7px;
    border-top: 0;
    border-bottom: 2px solid var(--nav-bg-color) !important;
    border-left: 2px solid var(--nav-bg-color) !important;
    border-right: 2px solid var(--nav-bg-color) !important;
}

.userhome__body--profile--tools--dropdown>div>a {
    padding: 4px 0;
    text-align: center;
    color: var(--main-text-color) !important;
}

.userhome__body--profile--tools--dropdown>div>a:hover {
    background-color: var(--nav-bg-color) !important;
}

.userhome__body--btn {
    background-color: transparent !important;
    border: 0 !important;
}