.home__body {
    background-color: var(--main-bg-color);
    font-family: var(--primary-font-family);
}

.home__body main {
    /* background-color: black; */
    color: var(--main-text-color) !important;
    font-size: var(--primary-font-size);
}

.home__body-container {
    display: grid;
    row-gap: 200px;
}

.home__body-hero-row,
.home__body-features-row,
.home__body-organization-perks-row,
.home__body-organization-examples-row,
.home__body-how-row {
    display: flex;
    flex-wrap: wrap;
}

.home__body-hero-col,
.home__body-features-col,
.home__body-organization-perks-col,
.home__body-organization-example-col,
.home__body-how-col {
    padding-block: 12px;
}

.home__body-hero-col-div,
.home__body-features-col-div,
.home__body-organization-perks-col-div,
.home__body-organization-example-col-div,
.home__body-how-col-div,
.cta-col-div {
    flex: 1;
    background-color: rgba(var(--main-bg-color), 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: var(--main-rounded-corner);
}

.home__body-organization-example-col-div {
    background-color: rgba(23, 199, 105, 0.1) !important;
}

.home__body-organization-row-intro-icon {
    font-size: 25pt;
}