.help-center__h2 {
    display: flex;
    flex-direction: column;
}

.help-center__h3 {
    display: flex;
    align-items: baseline;
}

.help-center__header-inner-div {
    transition: var(--main-transition-speed);
    border-radius: var(--main-rounded-corner);
    border: 1px solid var(--main-accent-color);
}

.help-center__header-inner-div:hover {
    background-color: var(--main-accent-color-hover);
    border-color: var(--main-accent-color-hover);
}

.help-center__header-a {
    text-decoration: none !important;
}

.help-center__header-title,
.help-center__header-title+p {
    transition: var(--main-transition-speed);
    color: var(--main-text-color);
}

.help-center__header-inner-div:hover>.help-center__header-title,
.help-center__header-inner-div:hover>.help-center__header-title+p {
    color: var(--main-text-color-selected);
}

.help__center-titles-list {
    min-width: fit-content;
}

.help__center-data-content-intro, .help__center-titles-list>.help__center-titles-list-item,
.help__center-data-content-outro, .help__center-titles-list-item,
.help__center-data-list>.help__center-data-list-item {
    background-color: transparent !important;
    border: none;
    padding-left: 0;
    color: var(--main-text-color);
}

.help__center-titles-list>.help__center-titles-list-item>a {
    color: var(--main-text-color);
    text-decoration: none;
    transition: var(--main-transition-speed);
}

.help__center-titles-list>.help__center-titles-list-item>a:hover {
    color: var(--main-accent-color-hover);
    text-decoration: none;
}

.help__center-titles-list-item:first-child {
    padding-top: 0px !important;
}

.help-center__data-link {
    color: var(--main-text-color);
    background-color: var(--main-accent-color);
    transition: var(--main-transition-speed);
}

.help-center__data-link:hover {
    color: var(--main-accent-color-hover);
}

.help-center__offcanvas-btn {
    background-color: transparent !important;
    color: var(--main-text-color) !important;
    border-color: transparent !important;
    font-size: 18px !important;
}

.help-center__title-switch-btn {
    background-color: transparent !important;
    color: var(--main-text-color) !important;
    border-color: var(--main-accent-color) !important;
    font-size: 18px !important;
    transition: var(--main-transition-speed) !important;

}

.help-center__title-switch-btn:hover,
.help-center__title-switch-btn:focus {
    box-shadow: none !important;
    /*background-color: var(--main-accent-color-hover) !important; */
    color: var(--main-accent-color-hover) !important;
    border-color: var(--main-accent-color-hover) !important;
}

.help-center__offcanvas-btn {
    max-width: fit-content;
    padding-left: 0 !important;
}

.help-center__offcanvas {
    max-width: max-content !important;
}

.help-center__offcanvas-body {
    display: flex;
}

.help-center__offcanvas-body>ul {
    justify-content: center;
}

.help-center__breadcrumb-link {
    color: var(--main-text-color) !important;
    padding-inline: 0 !important;
}

.help-center__breadcrumb-link:hover,
.help-center__breadcrumb-link:focus {
    color: var(--main-accent-color-hover) !important;
    box-shadow: none !important;
}

.help-center__offcanvas-body {
    background-color: var(--main-dropdown-bg-color);
    color: var(--main-text-color);
}

.help__center-titles-list-item>a {
    color: var(--main-text-color) !important;
}

.help__center-titles-list-item>a:hover {
    color: var(--main-accent-color-hover) !important;
}

@media (max-width: 767px) {

    .help-center__h2 {
        font-size: 1.18rem;
    }

    .help-center__h3 {
        font-size: 1.09375rem;
    }

    .help-center__title-switch-btn {
        font-size: 10px !important;
    }
}

@media (max-width: 575px) {
    .help-center__header-col+.help-center__header-col {
        margin-top: 16px;
    }
}

@media (max-width: 439px) {
    .help-center__h3 {
        display: inline;
        line-height: 28px;
    }

    .help-center__img {
        vertical-align: baseline !important;
    }
}