.user-profile {
    /* margin: 54px 0 0px 0; */
    max-width: 1320px !important;
    margin: 0 auto;
    padding: 54px 45px 12px 45px;
    height: 198px;
    backdrop-filter: blur(4px);
}

.user-profile__follow-numbers-text,
.user-profile__follow-numbers-text:hover,
.user-profile__follow-numbers-text:focus,
.user-profile__follow-numbers-text:active,
.user-profile__follow-numbers-number,
.user-profile__follow-numbers-number:hover,
.user-profile__follow-numbers-number:focus,
.user-profile__follow-numbers-number:active {
    max-width: fit-content;
    background-color: transparent !important;
    border: 0px;
    padding-block: 0;
}

.user-profile__follow-numbers-number {
    font-size: 20pt;
}

.user-profile__follow-numbers-text:hover,
.user-profile__follow-numbers-text:hover+button {
    color: var(--main-accent-color-hover);
}

.user-profile__follow-numbers-number:hover,
.user-profile__follow-numbers-text:has(+ .user-profile__follow-numbers-number:hover) {
    color: var(--main-accent-color-hover) !important;
}

.user-profile__avatar {
    height: 100px;
}

.user-profile__avatar,
.notice__avatar,
.notice__reaction-avatar,
.follower__avatar,
.following__avatar,
.notice__react-modal-avatar {
    --r: 8px;
    aspect-ratio: cos(30deg);
    --_g: calc(tan(60deg)*var(--r)) right var(--r), #000 98%, #0000 101%;
    mask:
        conic-gradient(from 240deg at calc(200% - 3*var(--r)/2), #000 60deg, #0000 0) 100% 0/calc(100% - 3*var(--r)/2) 100% no-repeat,
        radial-gradient(var(--r) at calc(2*var(--r)) 50%, #000 98%, #0000 101%),
        radial-gradient(var(--r) at top var(--_g)),
        radial-gradient(var(--r) at bottom var(--_g));
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    object-fit: cover;
    object-position: left center;
}

.user-profile__interaction-btn {
    background-color: rgb(0, 0, 0, 0.0);
    border-color: var(--main-accent-color-hover) !important;
    color: var(--main-text-color);
}

.user-profile__interaction-btn.following {
    color: var(--main-bg-color);
    background-color: var(--main-accent-color) !important;
    border-color: var(--main-accent-color) !important;
    backdrop-filter: blur(1.25px);
}

.user-profile__interaction-btn.following:hover {
    border-color: var(--main-accent-color-hover) !important;
    background-color: var(--main-accent-color) !important;

}

.user-profile__interaction-btn:hover,
.user-profile__interaction-btn:active,
.user-profile__interaction-btn:focus {
    border-color: var(--main-accent-color-hover) !important;
    background-color: var(--main-accent-color-hover) !important;
    box-shadow: none !important;
}

.user-profile__interaction-btn:focus {
    box-shadow: none !important;
}

.user-profile__form {
    margin-top: 198px;
}

.user-profile__form+ul+div {
    margin: 0px auto 42px 0px;
}

.user-profile__form-control,
.user-profile__form-control::placeholder {
    background-color: rgb(0, 0, 0, 0.2);
    color: var(--main-text-color);
    transition: var(--main-transition-speed);
}

.user-profile__form-control,
.user-profile__timer-select,
.notice__edit--modal-form-control {
    border-width: 1.5px;
    /* border-color: transparent; */
    border-style: groove;

}

.user-profile__form-control:focus::placeholder {
    color: var(--main-accent-color-hover) !important;
}


.user-profile__form-control:focus,
.user-profile__timer-select:focus,
.notice__edit--modal-form-control:focus {
    color: var(--main-text-color);
    background-color: rgb(0, 0, 0, 0.2);
    border-color: var(--main-accent-color);
    border-width: 1.5px;
    box-shadow: none !important;
}

.user-profile__form-control::selection,
.notice__edit--modal-form-control::selection {
    background-color: var(--main-accent-color) !important;
}

.user-profile__notice-char-counter {
    font-size: 0.9rem;
    font-weight: normal;
    color: gray;
}

.user-profile__notice-char-counter.extra {
    font-size: 0.9rem;
    font-weight: bold;
    color: red;
    animation: extra-text 0.5s alternate infinite;

}

@keyframes extra-text {
    0% {
        color: red;
    }

    100% {
        color: gray;
    }
}

/* .notices__accordion {
    font-size: var(--pc-font-size);
} */

.user-profile__tags-accordion>div>h2>button,
.user-profile__tags-accordion>div,
.notices__accordion>div>h2>button,
.notices__accordion>div {
    background-color: var(--main-bg-color) 0.5 !important;
    color: var(--main-text-color) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-inline: 1px;
    transition: var(--main-transition-speed);
    font-size: var(--pc-font-size);
}

.user-profile__tags-accordion>div>h2>button {
    background-color: var(--main-bg-color) 0.5 !important;
    padding-inline: 5px !important;
    padding-block: 10px !important;
    transition: var(--main-transition-speed);
}

.notices__accordion>div>h2>button:hover,
.notices__accordion>div>h2>button:not(.collapsed),
.notice__reaction {
    background: rgba(var(--main-bg-color), 0.5) !important;
    box-shadow: 0px 0px 2px var(--main-accent-color-hover) !important;
}

.notices__accordion>div>h2>button::after,
.user-profile__tags-accordion>div>h2>button::after {
    display: none !important;
}

.user-profile__tags-accordion>div>h2>button:hover {
    color: var(--main-accent-color) !important;
}

.user-profile__notice-tag {
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid var(--main-accent-color);
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--main-transition-speed);
}

.user-profile__notice-tag:hover {
    border-color: var(--main-accent-color-hover);
    background-color: var(--main-accent-color-hover);
}

.user-profile__notice-tag.tagIsChecked {
    color: black !important;
    background-color: var(--main-accent-color);
}

.user-profile__timer-select {
    padding-left: 5px;
    padding-right: 0px;
    max-width: 65px;
}

.user-profile__notify-btn,
.user-profile__notify-btn:focus {
    background-color: var(--main-accent-color) !important;
    color: black !important;
    border: transparent;
    transition: var(--main-transition-speed) !important;
}

.user-profile__notify-btn:focus {
    background-color: var(--main-accent-color-hover) !important;
    box-shadow: none !important;
}

.user-profile__notify-btn:disabled {
    color: black;
}

.user-profile__notify-btn:hover {
    background-color: var(--main-accent-color-hover) !important;
    color: black !important;

}

.form__notify-btn {
    background-color: var(--main-accent-color) !important;
    color: black;
    border: transparent;
}

.notice__username>a {
    color: var(--main-text-color);
    margin-right: 0px;
    transition: var(--main-transition-speed);
}

.notice__username>a:hover {
    color: var(--main-accent-color);
}

.notice__username+a,
.notice__reaction-username+a {
    transition: 0.5s;
}

.notice__username+a:hover,
.notice__reaction-username+a:hover {
    filter: sepia(1) hue-rotate(100deg) saturate(6) brightness(0.7);
}

.notice__avatar {
    height: 70px;
}

.user-profile__notice-tab {
    margin-top: 198px;
    max-width: 1320px !important;
    margin: 198px auto 0 auto;
}

.user-profile__notice-tab+div {
    margin: 198px auto 42px auto;
}

.user-profile__notice-tab>li>button {
    color: var(--main-text-color);
    background-color: var(--main-bg-color) 0.5 !important;
    backdrop-filter: blur(3px)
}

.user-profile__notice-tab>li>button:hover {
    color: var(--main-accent-color-hover) !important;
}

.user-profile__notice-tab>li>button.active {
    color: var(--main-accent-color) !important;
}

.notice__reaction-icon-div-empty,
.notice__reaction-interaction-div {
    height: 20px;
}

.notice__reaction-icon-div {
    height: 35px;
}

.notice__reaction-interaction-div-empty {
    height: 10px;
}

.notice__edit-btn,
.notice__delete-btn,
.notice__reaction-btn,
.notice__edit-btn:hover,
.notice__delete-btn:hover,
.notice__reaction-btn,
.notice__edit-btn:focus,
.notice__delete-btn:focus,
.notice__reaction-btn {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    cursor: pointer;
}

.notice__edit-btn>svg,
.notice__delete-btn>svg,
.notice__reaction-btn>svg {
    transition: var(--main-transition-speed);
    font-size: var(--pc-icon-size);
}

.notice__edit-btn:hover>svg,
.notice__delete-btn:hover>svg,
.notice__reaction-btn:hover>svg,
.notice__edit-btn:focus>svg,
.notice__delete-btn:focus>svg,
.notice__reaction-btn:focus>svg {
    margin-bottom: 2px;
    color: var(--main-accent-color) !important;
    filter: drop-shadow(0px 0px 5px var(--main-accent-color)) !important;
}

.notice__reaction-btn.disabled>svg,
.notice__reaction-btn:hover.disabled>svg {
    cursor: not-allowed;
    color: var(--main-text-muted) !important;
    filter: none !important;
}

.notice__reaction-btn-fill {
    color: var(--main-accent-color) !important;
}

/* .notice__edit--modal {
    padding: 0 !important;
} */

.notice__react--modal>div {
    max-width: 700px;
}

.notice__edit--modal>div,
.notice__react--modal>div {
    margin-block: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notice__edit--modal>div>div,
.notice__react--modal>div>div,
.user-profile__following--modal>div>div {
    border-color: var(--main-accent-color);
    border-width: 0.5px;
    background-color: rgba(var(--main-bg-color), 0.8);
    border-radius: 8px !important;
    border-color: var(--main-accent-color);
    border-width: 0.5px;
    transition: var(--main-transition-speed);
}


.notice__edit--modal-header,
.notice__edit--modal-body,
.notice__edit--modal-footer,
.notice__react--modal-header,
.notice__react--modal-body,
.notice__react--modal-footer {
    color: var(--main-text-color);
    border: 0px !important;
}

.notice__edit--modal-btn,
.notice__react--modal-btn {
    background-color: var(--main-accent-color) !important;
    color: black !important;
    border: transparent;
    font-size: var(--pc-font-size);
}

.notice__edit--modal-btn:hover,
.notice__edit--modal-btn:focus,
.notice__react--modal-btn:hover,
.notice__react--modal-btn:focus {
    background-color: var(--main-accent-color-hover) !important;
    color: black !important;
    border: transparent;
    box-shadow: none !important;
}

/* .notice__reaction {
    background-attachment: fixed;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(244, 244, 244, 0) 0%, rgba(255, 255, 255, 0.58) 76%, rgba(23, 199, 105, 0.58) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.58) 76%, rgba(23, 199, 105, 0.58) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.58) 76%, rgba(23, 199, 105, 0.58) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#17c769", GradientType=1);
} */

/* .notice__reaction>.row {
    max-width: 95%;
} */

.notice__reaction-username {
    margin-right: 6px;
    color: var(--main-text-color);
    transition: var(--main-transition-speed);
}

.notice__reaction-username:hover {
    color: var(--main-accent-color);
}




.notice__reaction-avatar,
.notice__react-modal-avatar,
.follower__avatar,
.following__avatar {
    height: 53px;
}

.user-profile__following--modal,
.notice__react--modal,
.notice__edit--modal {
    z-index: 9002;
}

.user-profile__following--modal>div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 0;

}

.user-profile__following--modal>div>div {
    max-height: 100vh;
}

.user-profile__following--modal-header>button,
.user-profile__following--modal-header>button:hover,
.user-profile__following--modal-header>button:active,
.user-profile__following--modal-header>button:focus {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0;
}

.user-profile__following--modal-header>button>svg {
    color: var(--main-accent-color);
    transition: var(--main-transition-speed) !important;

}

.user-profile__following--modal-header>button:hover>svg,
.user-profile__following--modal-header>button:active>svg,
.user-profile__following--modal-header>button:focus>svg {
    color: var(--main-accent-color-hover)
}

.user-profile__following--modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.user-profile__following--modal-body>div>a {
    padding-inline: 10px;
    padding-block: 5px;
    border-bottom: 1px solid var(--main-accent-color-hover);
    transition: var(--main-transition-speed);
}

.user-profile__following--modal-body>div>a:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}




@media (max-width: 767px) {

    .user-profile__tags-accordion>div>h2>button,
    .user-profile__tags-accordion>div,
    .notices__accordion>div>h2>button,
    .notices__accordion>div {
        font-size: var(--mobile-font-size);
    }

    .notice__avatar {
        height: 55px;
    }

    .notice__reaction-icon-div,
    .notice__reaction-interaction-div {
        height: 18px;
    }

    .notice__reaction-icon-div-empty,
    .notice__reaction-interaction-div-empty {
        height: 5px;
    }

    .notice__edit-btn>svg,
    .notice__delete-btn>svg,
    .notice__reaction-btn>svg {
        font-size: var(--mobile-icon-size);
    }

    .notice__edit--modal-btn,
    .notice__react--modal-btn,
    .user-profile__form-control {
        font-size: var(--mobile-font-size);
    }
}

@media (max-width: 575px) {

    .notice__text-countdown-col,
    .notice__reaction-text-col {
        padding-left: 0px;
    }

    .notice__reaction-info-col,
    .notice__interaction-col {
        padding-right: 0px;
    }

    .notice__reaction>.row {
        max-width: 100%;
    }

    .notice__reaction-username {
        margin-right: 0px !important;
    }

    .notice__react--modal-body {
        padding: 12px;
    }
}

@media (max-height: 457px) {
    body {
        background-color: yellow !important;
    }

    .notice__edit--modal,
    .notice__react--modal {
        padding-block: 20px;
        padding-inline: 10px !important;
    }

    .notice__edit--modal>div,
    .notice__react--modal>div {
        height: fit-content;
    }
}