.loading__icon {
    animation: spin 0.5s infinite linear !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

    /* 
    to {
        transform: rotate(360deg);
    } */
}