.loading__icon {
    font-size: var(--pc-loading-spinner-size);
    animation: spin 0.5s infinite linear !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

    /* 
    to {
        transform: rotate(360deg);
    } */
}

@media (max-width: 768px) {
    .loading__icon {
        font-size: var(--mobile-loading-spinner-size);
    }
}