.footer__container {
    background-color: transparent;
}

.footer__container h5,
.footer__container a {
    color: var(--main-text-color) !important;
    transition: var(--main-transition-speed) !important;
    text-decoration: none;

}

.footer__container a:hover {
    color: var(--main-accent-color-hover) !important;
}

.footer__col>a>h6 {
    width: max-content;
}

.footer__col>a>i {
    font-size: 29px !important;
    transition: var(--main-transition-speed);
}

.footer__col>a:hover>i {
    color: var(--main-accent-color-hover);
}

h5 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.footer__logo {
    width: 149.5px;
}

@media (max-width: 767px) {
    .footer__container h6 {
        font-size: 10px;
    }

    .footer__col>a>i {
        font-size: 18.125px !important;
    }

    .footer__logo {
        width: 130px;
    }
}

@media (max-width: 575px) {
    .footer__logo {
        width: 110px;
    }

    .footer__col {
        padding-inline: 0 !important;
    }
}