.settings {
    margin-top: 42px;
}

.settings__sections {
    gap: 48px;
}

.setting__avatar-display,
.settings__blocked-accounts-profile-avatar {
    --r: 8px;
    aspect-ratio: cos(30deg);
    --_g: calc(tan(60deg)*var(--r)) right var(--r), #000 98%, #0000 101%;
    mask:
        conic-gradient(from 240deg at calc(200% - 3*var(--r)/2), #000 60deg, #0000 0) 100% 0/calc(100% - 3*var(--r)/2) 100% no-repeat,
        radial-gradient(var(--r) at calc(2*var(--r)) 50%, #000 98%, #0000 101%),
        radial-gradient(var(--r) at top var(--_g)),
        radial-gradient(var(--r) at bottom var(--_g));
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    object-fit: cover;
    object-position: left center;
    height: 95px;
}

.settings__upload-avatar-field {
    height: 38px;
    transition: var(--main-transition-speed);
}

.settings__upload-avatar-field:hover,
.settings__upload-avatar-field:focus,
.settings__upload-avatar-field:active {
    box-shadow: none;
}

.settings__upload-avatar-field:focus,
.settings__upload-avatar-field:active {
    border-color: var(--main-accent-color-hover);
}

.settings__unblocked-btn,
.settings__unblocked-btn:focus,
.settings__unblocked-btn:active,
.settings__unblocked-btn:hover {
    color: transparent !important;
    background-color: transparent !important;
    border: 0 !important;
}



.settings__delete-avatar-btn,
.settings__update-username-btn,
.settings__update-interests-btn,
.settings__load-blocked-btn,
/* .settings__unblocked-btn, */
.settings__delete-avatar-btn:focus,
.settings__update-username-btn:focus,
.settings__load-blocked-btn:focus,
.settings__update-interests-btn:focus {
    background-color: var(--main-accent-color) !important;
    color: black !important;
    border: none;
    border-radius: var(--main-rounded-corner) !important;
    width: fit-content;
}

.settings__unblocked-btn:hover>svg {
    transition: var(--main-transition-speed);
    color: var(--main-accent-color-hover) !important;
}


.settings__delete-avatar-btn:hover,
.settings__update-username-btn:hover,
.settings__update-interests-btn:hover,
.settings__load-blocked-btn:hover {
    background-color: var(--main-accent-color-hover) !important;
    color: black !important;
}

.settings__username-form {
    width: 100%;
}

.settings__username-field {
    border-width: 1.5px;
    border-color: transparent;
    border-style: groove;
    transition: var(--main-transition-speed);
    /* Maximum width is 369px */
    /* box-sizing: border-box; */
    /* Ensure padding and border are included in the width */
}

.settings__username-field:focus {
    border-color: var(--main-accent-color);
    border-width: 1.5px;
    box-shadow: none !important;
}

.settings__username-field::selection {
    background-color: var(--main-accent-color) !important;
}

.settings__username-unique,
.settings__username-switch {
    color: var(--main-text-muted) !important;
}

.settings__update-interests-tag-col {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 10px;
    margin: 10px
}

.settings__update-interests-tag {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--main-accent-color);
    cursor: pointer;
    transition: var(--main-transition-speed);
}

.settings__update-interests-tag:hover {
    border-color: var(--main-accent-color-hover);
    background-color: var(--main-accent-color-hover);
}

.settings__update-interests-tag.tagIsChecked {
    background-color: var(--main-accent-color);
    color: black
}

.settings__update-interests-btn {
    margin-left: 10px;
    margin-top: 10px;
}

.settings__update-interests-btn,
.settings__load-blocked-btn,
.settings__delete-account-btn {
    max-width: fit-content;
    margin-bottom: 16px;
}

.settings__blocked-accounts-profiles {
    padding-inline: 12px;
    padding-block: 8px;
    border: 1px solid var(--main-accent-color);
    border-radius: var(--main-rounded-corner);
    background-color: transparent;
    /* cursor: pointer; */
    transition: var(--main-transition-speed);
}

.settings__delete-account-btn,
.settings__delete-account-btn:focus {
    background-color: var(--main-caution-color) !important;
    color: white;
    border: none;
}

.settings__delete-account-btn:hover {
    background-color: var(--main-caution-color-hover) !important;
}


@media (max-width: 767px) {

    .settings__sections {
        gap: 38px;
    }

    .setting__avatar-display,
    .settings__username-display {
        height: 75px !important;
        margin-right: 30px !important;
    }

    .settings__upload-avatar-field {
        width: 80px !important;
        padding-inline: 6px;
    }

    .settings__upload-avatar-field,
    .settings__username-field,
    .settings__delete-avatar-btn,
    .settings__update-username-btn,
    .settings__update-interests-btn,
    .settings__load-blocked-btn,
    .settings__delete-account-btn,
    .settings__delete-account-btn {
        font-size: var(--mobile-font-size) !important;
        height: 31px;
        display: flex;
        align-items: center;
    }

    .settings__blocked-accounts-profiles {
        padding-inline: 8px;
        padding-block: 4px;
    }

    .settings__blocked-accounts-profile-avatar {
        height: 60px;
    }
}

@media (max-width: 575px) {

    .settings__sections {
        gap: 28px;
    }

    .setting__avatar-display,
    .settings__username-display {
        margin-right: 0 !important;
    }

    .settings__upload-avatar-label {
        margin-bottom: 0;
    }

    .settings__username-col {}

    .settings__upload-avatar-field {
        display: flex !important;
        width: 100% !important;
        max-width: 300px;
    }

    .settings__username-form {
        width: 225.5px;
    }

    .settings__username-form-group,
    .settings__update-username-btn-col {
        padding-inline: 0;
    }
}