.settings {
    margin-top: 42px;
}

.settings__sections {
    gap: 48px;
}

/* .setting__avatar-display,
.settings__blocked-accounts-profile-avatar {
    --r: 8px;
    aspect-ratio: cos(30deg);
    --_g: calc(tan(60deg)*var(--r)) right var(--r), #000 98%, #0000 101%;
    mask:
        conic-gradient(from 240deg at calc(200% - 3*var(--r)/2), #000 60deg, #0000 0) 100% 0/calc(100% - 3*var(--r)/2) 100% no-repeat,
        radial-gradient(var(--r) at calc(2*var(--r)) 50%, #000 98%, #0000 101%),
        radial-gradient(var(--r) at top var(--_g)),
        radial-gradient(var(--r) at bottom var(--_g));
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    object-fit: cover;
    object-position: left center;
} */

.setting__avatar-display {
    height: 85px !important;
    width: 85px !important;
}

.settings__blocked-accounts-profile-avatar {
    height: 65px;
    width: 65px;
    margin-inline: 12px;
}

.setting__avatar-display,
.settings__blocked-accounts-profile-avatar {
    border-radius: var(--main-rounded-corner);
    object-fit: cover;
}

.settings__upload-avatar-field {
    height: 38px;
    transition: var(--main-transition-speed);
    border-radius: var(--main-rounded-corner);
}

.settings__upload-avatar-field:hover,
.settings__upload-avatar-field:focus,
.settings__upload-avatar-field:active {
    box-shadow: none;
}

.settings__upload-avatar-field:hover {
    border-color: var(--main-accent-color-hover);
}

.settings__upload-avatar-field:focus,
.settings__upload-avatar-field:active {
    border-color: var(--main-accent-color);
}

.settings__unblocked-btn,
.settings__unblocked-btn:focus,
.settings__unblocked-btn:active,
.settings__unblocked-btn:hover {
    color: transparent !important;
    background-color: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
}

.settings__delete-avatar-btn,
.settings__update-username-btn,
.settings__update-interests-btn,
.settings__load-blocked-btn,
.settings__delete-avatar-btn:focus,
.settings__update-username-btn:focus,
.settings__load-blocked-btn:focus,
.settings__update-interests-btn:focus {
    background-color: var(--main-accent-color) !important;
    color: black !important;
    border: none;
    border-radius: var(--main-rounded-corner) !important;
    width: fit-content;
    box-shadow: none !important;
}

.settings-blocked__end-asterisks {
    margin-top: 16px;
}

.settings__unblocked-btn:focus>svg,
.settings__unblocked-btn:hover>svg {
    transition: var(--main-transition-speed);
    color: var(--main-accent-color-hover) !important;
}

.settings__delete-avatar-btn:focus,
.settings__update-username-btn:focus,
.settings__load-blocked-btn:focus,
.settings__update-interests-btn:focus,
.settings__delete-avatar-btn:hover,
.settings__update-username-btn:hover,
.settings__update-interests-btn:hover,
.settings__load-blocked-btn:hover {
    background-color: var(--main-accent-color-hover) !important;
    color: black !important;
}

.settings__username-form {
    width: 100%;
}

.settings__username-field {
    border-width: 1.5px;
    border-color: transparent;
    border-style: groove;
    border-radius: var(--main-rounded-corner);
    transition: var(--main-transition-speed);
}

.settings__username-field:hover {
    border-color: var(--main-accent-color-hover) !important;
}

.settings__username-field:active {
    border-color: var(--main-accent-color) !important;
}

.settings__username-field:focus {
    border-color: var(--main-accent-color) !important;
    border-width: 1.5px;
    box-shadow: none !important;
}

.settings__username-field::selection {
    background-color: var(--main-accent-color) !important;
}

.settings__username-unique,
.settings__username-switch {
    color: var(--main-text-muted) !important;
}

.settings__update-interests-tag-col {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 10px;
    margin: 10px
}

.settings__update-interests-tag {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: var(--main-rounded-corner);
    border-color: var(--main-accent-color);
    cursor: pointer;
    transition: var(--main-transition-speed);
}

.settings__update-interests-tag:hover {
    border-color: var(--main-accent-color-hover);
    background-color: var(--main-accent-color-hover);
}

.settings__update-interests-tag.tagIsChecked {
    background-color: var(--main-accent-color);
    color: black
}

.settings__update-interests-btn {
    margin-left: 10px;
    margin-top: 10px;
}

.settings__update-interests-btn,
.settings__load-blocked-btn {
    max-width: fit-content;
    margin-bottom: 16px;
}

.settings__blocked-accounts-profiles {
    border: 1px solid;
    border-color: var(--main-accent-color);
    border-radius: var(--main-rounded-corner);
    padding-inline: 10px;
    padding-block: 5px;
}

.settings__delete-notices-modal,
.settings__delete-account-modal {
    z-index: 9002;
}

.settings__delete-notices-modal>div,
.settings__delete-account-modal>div {
    margin-block: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.settings__delete-notices-modal>div>div,
.settings__delete-account-modal>div>div {
    max-height: 100vh;
    border-color: var(--main-accent-color) !important;
}

.settings__delete-notices-modal-body,
.settings__delete-account-modal-body {
    max-height: 600px;
    overflow-y: auto;
}

.settings__delete-notices-btn,
.settings__delete-account-btn {
    max-width: fit-content;
    box-shadow: none !important;
    height: 36px;
    border-radius: var(--main-rounded-corner) !important;
}

.settings__delete-notices-btn.cancel,
.settings__delete-account-btn.cancel {
    background-color: var(--main-accent-color) !important;
    border-color: var(--main-accent-color) !important;
    color: var(--main-text-color);
    border: 1px solid;
    transition: var(--main-transition-speed) !important;
}

.settings__delete-notices-btn.cancel:hover,
.settings__delete-notices-btn.cancel:active,
.settings__delete-account-btn.cancel:hover,
.settings__delete-account-btn.cancel:active {
    background-color: var(--main-accent-color) !important;
    border-width: 1px !important;
    border-style: solid;
    border-color: var(--main-accent-color-hover) !important;
    color: var(--main-text-color);
}

.settings__delete-notices-btn.cancel:focus,
.settings__delete-account-btn.cancel:focus {
    background-color: var(--main-accent-color-hover) !important;

}


.settings__blocked-anotices-profiles {
    padding-inline: 12px;
    padding-block: 8px;
    border: 1px solid var(--main-accent-color);
    border-radius: var(--main-rounded-corner);
    background-color: transparent;
    transition: var(--main-transition-speed);
}

.settings__delete-notices-btn,
.settings__delete-account-btn {
    background-color: var(--main-caution-color) !important;
    color: white;
    border: none;
}

.settings__delete-notices-btn:hover,
.settings__delete-account-btn:hover,
.settings__delete-notices-btn:focus,
.settings__delete-account-btn:focus {
    background-color: var(--main-caution-color-hover) !important;
}

@media (max-width: 1399px) {
    .settings__update-interests-btn:nth-child(2) {
        margin-top: 0;
    }
}


@media (max-width: 767px) {

    .settings h4 {
        font-size: 1.125rem;
    }

    .settings__sections {
        gap: 38px;
    }

    .setting__avatar-display,
    .settings__username-display {
        height: 75px !important;
        width: 75px !important;
    }

    .settings__blocked-accounts-profile-avatar {
        width: 45px;
        height: 45px;
        margin-inline: 8px;
    }

    .settings__upload-avatar-field {
        width: 80px !important;
        padding-inline: 6px;
    }

    .settings__upload-avatar-field,
    .settings__username-field,
    .settings__delete-avatar-btn,
    .settings__update-username-btn,
    .settings__update-interests-btn,
    .settings__load-blocked-btn,
    .settings__delete-notices-btn,
    .settings__delete-account-btn {
        font-size: var(--mobile-font-size) !important;
        height: 31px;
        display: flex;
        align-items: center;
    }

    .settings__blocked-accounts-profiles {
        padding-inline: 8px;
        padding-block: 4px;
    }

    .settings__delete-notices-modal-header,
    .settings__delete-notices-modal-footer,
    .settings__delete-account-modal-header,
    .settings__delete-account-modal-footer {
        padding-block: 10px;
    }

    .settings__delete-notices-modal-header>div,
    .settings__delete-account-modal-header>div,
    .notice__edit--modal-header>div {
        font-size: 1.125rem;
    }

    .settings__delete-notices-modal-footer,
    .settings__delete-account-modal-footer {
        display: flex;
        justify-content: space-between;
    }

    .settings__delete-notices-btn.final,
    .settings__delete-account-btn.final {
        margin-inline: 0;
        min-width: calc(50% - 6px) !important;
    }

    .settings__update-interests-btn,
    .settings__update-interests-tag-col {
        margin: 5px
    }
}

@media (max-width: 575px) {

    .settings__sections {
        gap: 28px;
    }

    .setting__avatar-display,
    .settings__username-display {
        margin-right: 16px !important;
    }

    .settings__upload-avatar-label {
        margin-bottom: 0;
    }


    .settings__upload-avatar-field {
        display: flex !important;
        width: 100% !important;
        max-width: 300px;
    }

    .settings__username-form {
        width: 225.5px;
    }

    .settings__username-form-group,
    .settings__update-username-btn-col {
        padding-inline: 0;
    }


}