.settings {
    margin-top: 42px;
}

.settings__delete-avatar-btn,
.settings__update-username-btn,
.settings__update-interests-btn,
.settings__delete-avatar-btn:focus,
.settings__update-username-btn:focus,
.settings__update-interests-btn:focus {
    background-color: var(--main-accent-color) !important;
    color: black !important;
    border: none;
}

.settings__delete-avatar-btn:hover,
.settings__update-username-btn:hover,
.settings__update-interests-btn:hover {
    background-color: var(--main-accent-color-hover) !important;
    color: black !important;
}

.settings__username-field {
    border-width: 1.5px;
    border-color: transparent;
    border-style: groove;
}

.settings__username-field:focus {
    border-color: var(--main-accent-color);
    border-width: 1.5px;
    box-shadow: none !important;
}

.settings__username-field::selection {
    background-color: var(--main-accent-color) !important;
}

.settings__username-unique,
.settings__username-switch {
    color: var(--main-text-muted) !important;
}

.settings__update-interests-tag-col {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px
}

.settings__update-interests-tag {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--main-accent-color);
    cursor: pointer;
    transition: 0.3s;
}

.settings__update-interests-tag:hover {
    border-color: var(--main-accent-color-hover);
    background-color: var(--main-accent-color-hover);
}

.settings__update-interests-tag.tagIsChecked {
    background-color: var(--main-accent-color);
    color: black
}

.settings__update-interests-btn,
.settings__delete-account-btn {
    max-width: fit-content;
    margin-bottom: 16px;
}

.settings__delete-account-btn,
.settings__delete-account-btn:focus {
    background-color: var(--main-caution-color) !important;
    color: white;
    border: none;
}

.settings__delete-account-btn:hover {
    background-color: var(--main-caution-color-hover) !important;
}