:root {
    --main-bg-color: #000000;
    --main-text-color: #F5F7F8;
    --main-text-muted: #808080;
    --main-accent-color: #17c769;
    --main-accent-color-hover: #0f7c42;
    --main-caution-color: #c71717;
    --main-caution-color-hover: #9b1212;
    --nav-bg-color: #454545;
    --nav-text-color: #ffffff;
    /* --main-bg-color: #45474B;
    --main-text-color: #F5F7F8;
    --nav-bg-color: #495E57;
    --nav-text-color: #F4CE14; */
    --primary-font-size: 16px;
    --primary-font-family: 'Comic Sans MS';
}

p::selection {
    background-color: var(--main-accent-color) !important;
    color: black;
}