.user-profile {
    /* margin: 54px 0 0px 0; */
    padding: 54px 45px 12px 45px;
    height: 198px;

    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 16%, rgba(0, 0, 0, 0.5788690476190477) 43%, rgba(0, 0, 0, 0.58) 66%, rgba(23, 199, 105, 0.58) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 16%, rgba(0, 0, 0, 0.5788690476190477) 43%, rgba(0, 0, 0, 0.58) 66%, rgba(23, 199, 105, 0.58) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.29) 16%, rgba(0, 0, 0, 0.5788690476190477) 43%, rgba(0, 0, 0, 0.58) 66%, rgba(23, 199, 105, 0.58) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#17c769", GradientType=1);


    backdrop-filter: blur(1.5px);

}

.user-profile__interaction-btn {
    background-color: var(--main-bg-color);
    /* background-color: transparent; */
    border-color: var(--main-accent-color);
}

.user-profile__interaction-btn.following {
    color: var(--main-bg-color);

    /* background: rgb(23, 199, 105);
    background: -moz-radial-gradient(circle, rgba(23, 199, 105, 0.65) 0%, rgba(0, 0, 0, 0.8) 97%, rgba(0, 0, 0, 0.9) 98%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(23, 199, 105, 0.65) 0%, rgba(0, 0, 0, 0.8) 97%, rgba(0, 0, 0, 0.9) 98%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(circle, rgba(23, 199, 105, 0.65) 0%, rgba(0, 0, 0, 0.8) 97%, rgba(0, 0, 0, 0.9) 98%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17c769", endColorstr="#000000", GradientType=1); */

    background-color: var(--main-accent-color);
}

.user-profile__interaction-btn:hover,
.user-profile__interaction-btn:active {
    /* .user-profile__interaction-btn:focus { */
    border-color: var(--main-accent-color-hover) !important;
    background-color: var(--main-accent-color-hover) !important;
}

.user-profile__form {
    margin-top: 198px;
}

.user-profile__form+ul+div {
    margin: 0px auto 42px 0px;
}

.user-profile__form-control,
.user-profile__timer-select,
.notice__edit--modal-form-control {
    border-width: 1.5px;
    border-color: transparent;
    border-style: groove;

}

.user-profile__form-control:focus,
.user-profile__timer-select:focus,
.notice__edit--modal-form-control:focus {
    border-color: var(--main-accent-color);
    border-width: 1.5px;
    box-shadow: none !important;
}

.user-profile__form-control::selection,
.notice__edit--modal-form-control::selection {
    background-color: var(--main-accent-color) !important;
}

.user-profile__notice-char-counter {
    font-size: 0.9rem;
    font-weight: normal;
    color: gray;
}

.user-profile__notice-char-counter.extra {
    font-size: 0.9rem;
    font-weight: bold;
    color: red;
    animation: extra-text 0.5s alternate infinite;

}

@keyframes extra-text {
    0% {
        color: red;
    }

    100% {
        color: gray;
    }
}

.user-profile__tags-accordion>div>h2>button,
.user-profile__tags-accordion>div {
    background-color: var(--main-bg-color) !important;
    color: var(--main-text-color) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-inline: 1px;
    transition: 0.3s;
}

.user-profile__tags-accordion>div>h2>button {
    background-color: var(--main-bg-color) !important;
    padding-inline: 5px !important;
    padding-block: 10px !important;
}

.user-profile__tags-accordion>div>h2>button::after {
    display: none;
}

.user-profile__tags-accordion>div>h2>button:hover {
    color: var(--main-accent-color) !important;
}

.user-profile__notice-tag {
    padding-inline: 10px;
    padding-block: 5px;
    border: 1px solid var(--main-accent-color);
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.user-profile__notice-tag:hover {
    border-color: var(--main-accent-color-hover);
    background-color: var(--main-accent-color-hover);
}

.user-profile__notice-tag.tagIsChecked {
    color: black !important;
    background-color: var(--main-accent-color);
}

.user-profile__timer-select {
    padding-left: 5px;
    padding-right: 0px;
    max-width: 65px;
}

.user-profile__notify-btn,
.user-profile__notify-btn:focus {
    background-color: var(--main-accent-color) !important;
    color: black !important;
    border: transparent;
    transition: 0.3s !important;
}

.user-profile__notify-btn:disabled {
    color: black;
}

.user-profile__notify-btn:hover {
    background-color: var(--main-accent-color-hover) !important;
    color: black !important;

}

.form__notify-btn {
    background-color: var(--main-accent-color) !important;
    color: black;
    border: transparent;
}

.notice__username>a {
    color: var(--main-text-color);
    margin-right: 12px;
    transition: 0.3s;
}

.notice__username>a:hover {
    color: var(--main-accent-color);
}

.notice__username+a {
    transition: filter 0.3s ease;
}

.notice__username+a:hover {
    filter: sepia(1) hue-rotate(100deg) saturate(6) brightness(0.7);
}

.user-profile__notice-tab {
    margin-top: 198px;
    max-width: 1320px !important;
    margin: 198px auto 0 auto;
}

.user-profile__notice-tab+div {
    margin: 198px auto 42px auto;
}

.user-profile__notice-tab>li>button {
    color: var(--main-text-color);
    background-color: var(--main-bg-color) !important;
}

.user-profile__notice-tab>li>button:hover {
    color: var(--main-accent-color-hover) !important;
}

.user-profile__notice-tab>li>button.active {
    color: var(--main-accent-color) !important;
}


.notice__edit-btn,
.notice__delete-btn,
.notice__reaction-btn,
.notice__edit-btn:hover,
.notice__delete-btn:hover,
.notice__reaction-btn,
.notice__edit-btn:focus,
.notice__delete-btn:focus,
.notice__reaction-btn {
    background-color: transparent !important;
    border-color: transparent !important;
}

.notice__edit-btn>svg,
.notice__delete-btn>svg,
.notice__reaction-btn>svg {
    transition: 0.3s;
}

.notice__edit-btn:hover>svg,
.notice__delete-btn:hover>svg,
.notice__reaction-btn:hover>svg {
    color: var(--main-accent-color) !important;
    filter: drop-shadow(0px 0px 5px var(--main-accent-color)) !important;
}

.notice__reaction-btn-fill {
    color: var(--main-accent-color) !important;
}


.notice__edit--modal {
    /* position: relative; */
    padding: 0 !important;
    /* height: 100vh !important; */
}

.notice__edit--modal>div {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.notice__edit--modal>div>div {
    border-color: var(--main-accent-color);
    border-width: 0.5px;
    background-color: var(--main-bg-color);
    border-radius: 8px !important;

}

.notice__edit--modal>div>div {
    border-color: var(--main-accent-color);
    border-width: 0.5px;
    background-color: var(--main-bg-color);
}

.notice__edit--modal-header,
.notice__edit--modal-body,
.notice__edit--modal-footer {
    color: var(--main-text-color);
    border: 0px;
}

.notice__edit--modal-btn {
    background-color: var(--main-accent-color) !important;
    color: black;
    border: transparent;
}

.notice__edit--modal-btn:hover,
.notice__edit--modal-btn:active {
    background-color: var(--main-accent-color-hover) !important;
    color: black;
    border: transparent;
}